*.pyc
WeatherSHIELD/data
setup
nino.csv
FireSTARR/.vs
FireSTARR/chromedriver.exe
FireSTARR/Debug
FireSTARR/pdfsizeopt
FireSTARR/Release
documentation/*.tag
documentation/dia
documentation/doxygen
documentation/Graphviz
documentation/html
.idea
100m
WeatherSHIELD/db/sed
WeatherSHIELD/log
WeatherSHIELD/wgrib*
WeatherSHIELD/gui/js/jquery-1.11.3.js
WeatherSHIELD/gui/js/jquery-1.11.3.min.js
log*.txt
